<!DOCTYPE html>
<html lang="mk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Додади храна</title>
  <link rel="stylesheet"  th:href="@{/style.css}">
  <script>
    function updateNutrition() {
      var foodSelect = document.getElementById("foodName");
      var selectedFood = foodSelect.options[foodSelect.selectedIndex];
      var caloriesPer100g = parseFloat(selectedFood.getAttribute("data-calories"));
      var proteinPer100g = parseFloat(selectedFood.getAttribute("data-protein"));
      var quantityInGrams = parseFloat(document.getElementById("quantity").value);

      if (!isNaN(caloriesPer100g) && !isNaN(proteinPer100g) && !isNaN(quantityInGrams)) {
        var totalCalories = (caloriesPer100g * quantityInGrams) / 100;
        var totalProtein = (proteinPer100g * quantityInGrams) / 100;

        document.getElementById("calories").value = totalCalories.toFixed(2);
        document.getElementById("protein").value = totalProtein.toFixed(2);
      }
    }
  </script>
</head>
<body>
<div th:replace="navbar.html :: navbar"></div>

<h2>Додади оброк кој си го имал денеска</h2>

<form action="#" th:action="@{/log-food}" method="post">
  <label for="foodName">Избери храна:</label>
  <select id="foodName" name="foodId" onchange="updateNutrition()">
    <option value="" disabled selected>Избери храна</option>
    <option th:each="food : ${allFoods}"
            th:value="${food.id}"
            th:text="${food.name}"
            th:data-calories="${food.caloriesPer100g}"
            th:data-protein="${food.proteinPer100g}">
    </option>
  </select>

  <label for="quantity">Количина (g):</label>
  <input type="number" id="quantity" name="quantityInGrams" oninput="updateNutrition()">

  <label for="calories">Калории:</label>
  <input type="number" id="calories" name="calories" readonly>

  <label for="protein">Протеини (g):</label>
  <input type="number" id="protein" name="protein" readonly>

  <button type="submit">Додади</button>
</form>

<h2>Резултати:</h2>
<div>
  <p th:text="${feedback}"></p>
</div>
</body>
</html>
